/* #region template*/

@font-face {
    font-family: LogoText;
    src: url(../Fonts/GreatVibes/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: Title;
    src: url(../Fonts/Playfair/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: TitleItalic;
    src: url(../Fonts/Playfair/PlayfairDisplay-Italic.ttf);
}
@font-face {
    font-family: TitleBold;
    src: url(../Fonts/Playfair/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: TitleBoldItalic;
    src: url(../Fonts/Playfair/PlayfairDisplay-BoldItalic.ttf);
}
@font-face {
    font-family: textf;
    src: url(../Fonts/OpenSans/OpenSans.ttf);
}
@font-face {
    font-family: textf-light;
    src: url(../Fonts/OpenSans/OpenSans-Light.ttf);
}
:root{
    font-size: 62.5%;
}


html
{
    scroll-behavior: smooth;
    
}
body
{
    font-size: 1.6rem;


    margin: 0;
    padding: 0;

}
img
{user-select: none;}

/* #endregion */

footer
{
    padding-top: 1%;
    margin-top: .5%;
    background-color:rgba(212, 212, 212, 0.6);
}

footer h5
{
    font-family: title;
    font-size: 2rem;
    text-decoration: underline;
}

footer p
{
    font-family: textf;
    font-size: 1.6rem;
}


.toprow
{
    justify-content: center;
    text-align: center;
}

.botrow
{
    font-weight: bold;
    padding: 2rem 0 1rem;
    background-color: rgba(212, 212, 212, 0.762);
    width: 100vw;
    margin-top: 2%;
    text-align: center;
}