body {
    margin: 0;
}
.can
{
    position: absolute;
    width: 40%;
    z-index: 1000;
}
#cavCon
{
    
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;
}
