/* FONTS */
@font-face {
    font-family: LogoText;
    src: url(../Fonts/GreatVibes/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: textf;
    src: url(../Fonts/OpenSans/OpenSans.ttf);
}
@font-face {
    font-family: textf-light;
    src: url(../Fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: Title;
    src: url(../Fonts/Playfair/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: TitleItalic;
    src: url(../Fonts/Playfair/PlayfairDisplay-Italic.ttf);
}
@font-face {
    font-family: TitleBoldItalic;
    src: url(../Fonts/Playfair/PlayfairDisplay-BoldItalic.ttf);
}
@font-face {
    font-family: TitleBold;
    src: url(../Fonts/Playfair/PlayfairDisplay-Bold.ttf);
}   
:root{
    font-size: 62.5%;
}
html
{
    scroll-behavior: smooth;
    
}
body
{
    overflow: hidden;
    font-size: 1.6rem;

    color: white;

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    /* background-color: #1A1A1C; */
    background-image: url(../Images/Backgrounds/loginWall.jpg);
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    display: grid;    

    justify-content: center;
    align-content: center;
    transition: backdrop-filter 600ms;

}
.bodyTint
{
    .wrap
    {
        backdrop-filter: blur(5px) brightness(15%);
        transition: backdrop-filter 600ms;
    }
    
}
.bodyTintFF
{
    backdrop-filter: brightness(130%);
    .wrap
    {
        backdrop-filter: blur(5px) brightness(15%);
        transition: backdrop-filter 600ms;
    }
    
    transition: backdrop-filter 600ms;

}
img
{
    user-select: none;
}
.wrap
{
    margin-top: -10vh;
    display: grid;
    justify-items: center;
    backdrop-filter: blur(5px) brightness(40%);

    align-content: center;
    height: 110vh;
    bottom: 0;
    border-right: solid white .5rem;
    border-left: solid white .5rem;
    transition: backdrop-filter 600ms;
}

.logImg
{
    width: 40%;
}

.logImg img
{
    width: 100%;
}

.logTitle h1
{
    text-align: center;
    margin-top: -7rem;
    margin-left: -1.6rem;
    user-select: none;
    font-family: LogoText;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    font-size: 6rem;
    /* text-shadow:
    3px 3px 10px #000,
    -3px 3px 10px #000,
    -3px -3px 10px #000,
    3px -3px 10px #000; */
    text-shadow: #262629 .3rem .3rem;

}
.logWrap
{
    border-radius: 2rem;
    margin-top: -2%;
    padding: 2rem 0;
    /* background-color: #1A1A1C; */
    width: 80%;
    display: flex;
    justify-content: center;
}

form 
{
    margin-top: -8%;
    width: 80%;
}

.logWrap div
{

    margin: 2rem 0;
    
}

.logWrap p
{
    color: white;
    font-family: titleitalic;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .08rem;
    user-select: none;
}
.inUname
{
    width: 95%;
}
.logWrap input
{
    border: rgba(255, 255, 255, .2) .2rem solid;
    
    color: white;
    font-size: 2rem;
    font-family: title;
    text-align: center;
    padding: 1.4rem;
    border-radius: 4rem;
    background-color: transparent;
    letter-spacing: .25rem;
    font-style: italic;
    transition: background-color 400ms;
    backdrop-filter: blur(20px);
}

.logWrap input:focus
{
    border: rgba(255, 255, 255, .2) .2rem solid;
     
    background-color: rgba(255, 255, 255, .2);
    outline: none;
}

.logWrap .btns
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0rem;
}

.logWrap .btns button
{
    background: transparent;
    color: rgba(255, 255, 255, .8);
    width: fit-content;
    font-size: 2rem;
    transition: background-color 600ms, color 300ms, box-shadow 600ms;
    cursor: pointer;
    backdrop-filter: blur(4rem);
    font-family: title;

}
.logWrap .res
{
    border-radius: 0rem 4rem 4rem 0rem;
    padding: 1.4rem 5rem 1.4rem 4.2rem;
    border: solid rgba(255, 255, 255, .2) .2rem;
    border-left: none;

}

.logWrap .sub 
{
    border-radius: 4rem 0rem 0rem 4rem;
    padding: 1.4rem 4rem 1.4rem 5rem;
    border: solid rgba(255, 255, 255, .2) .2rem;
    border-right: solid rgba(255, 255, 255, .2) .2rem;
}
.logWrap .sub:hover
{
    background-color: rgba(255, 255, 255, .4);

    backdrop-filter: brightness(200%);
}
.logWrap .res:hover
{
    background-color: rgba(255, 255, 255, .4);

    backdrop-filter: brightness(200%);    
} 
.logWrap .sub:active
{
    box-shadow: 0 0 1rem #fff;
    color: black;
    background-color: #fff;
    transition: background-color 0ms, color 0ms, box-shadow 0ms;

}

.logWrap .res:active
{
    box-shadow: 0 0 1rem #fff;
    color: black;
    background-color: #fff;
    transition: background-color 0ms, color 0ms, box-shadow 0ms;

}

.logWrap .pass
{
    width: 100%;
    display: grid;
    grid-template-columns: 92.35% 6%;
    justify-content: space-evenly;
    gap: 2%;
    align-items: center;
}

.logWrap .pshow
{
    width: 100%;
}
.logWrap .pshow img
{
    width: 100%;
    filter: brightness(50%);
    transition: filter 300ms;
    z-index: 1;
}

.logWrap .pshow img:hover
{
    filter: brightness(100%);
    transition: filter 300ms;
    cursor: pointer;

}
.logWrap #ermsg
{
    margin-top: -1rem;
    display: none;
}


@media (max-width:1400px) {
    body
    {
        background-position-x: 65%;
    }
}

@media (max-width:1000px) {

    body
    {
        background-position-x: 72%;
    }

    .wrap
    {
        margin-top: -5vh;
        display: grid;
        justify-items: center;
        backdrop-filter: none;
        width: 100vw;
        align-content: center;
        height: 105vh;
        bottom: 0;
        border-right: none;
        border-left: none;
        transition: backdrop-filter 600ms;
        backdrop-filter: blur(.4rem);

    }
    .wrap:hover
    {
        backdrop-filter: blur(.4rem);

    }
    .logWrap
    {
        margin-top: -2rem;
    }
}

@media (max-width:700px) {

    body
    {
        backdrop-filter: brightness(50%) blur(.4rem);
        background-position-x: 60%;
    }
    .wrap h1
    {
        font-size: 5rem;
    }

    
}

@media (max-width:600px) {

    body
    {
        backdrop-filter: brightness(50%) blur(.4rem);
        background-position-x: 62%;
    }

    .logTitle
    {
        margin-top: 2rem;
    }
    .wrap h1
    {
        font-size: 4rem;
    }
    
}

@media (max-width:500px) {

    body
    {
        background-position-x: 70%;
    }
    form
    {
        margin-left: 0rem;
    }
    .wrap
    {
        margin-left: 0rem;
    }
    .welc p
    {
        margin-left: 1.5rem;
    }
    .logWrap
    {
        margin-left: -1.5rem;

    }
    .logImg
    {
        width: 50%;
        margin-left: 0rem;
    }
    .logTitle
    {
        margin-top: 3rem;
    }
    .wrap h1
    {
        margin-left: 0;
        font-size: 4rem;
    }
    .wrap p
    {
        font-size: 1.6rem;
    }
    .logWrap .btns button
    {
        font-size: 1.4rem;
    }


    .logWrap input
    {
        font-size: 1.4rem;
    }
    .res
    {
        padding: 1.4rem 4.5rem 1.4rem 4.2rem;

    }
    .sub 
    {
        padding: 1.4rem 3.5rem 1.4rem 5rem;
    }


}
